.primi { background:url("../img/primi.png") no-repeat transparent; margin-left: 20px; height: 58px}
.bono { background:url("../img/bono.png") no-repeat transparent; margin-left: 20px; height: 58px}
.gordo { background:url("../img/gordo.png") no-repeat transparent;  margin-left: 20px; height: 58px}
.euro { background:url("../img/euro.png") no-repeat transparent; margin-left: 20px; height: 58px}
.quiniela { background:url("../img/quiniela.png") no-repeat transparent;  margin-left: 20px; height: 58px}
.quinigol { background:url("../img/quinigol.png") no-repeat transparent;  margin-left: 20px; height: 58px}
.quintuple { background:url("../img/quintuple.png") no-repeat transparent;  margin-left: 20px; height: 58px}
.lototurf { background:url("../img/lototurf.png") no-repeat transparent;  margin-left: 20px; height: 58px}			
.dreams { background:url("../img/eurodreams.png") no-repeat transparent;  margin-left: 20px; height: 58px}

